<h2 id="title" style="position: relative; float: left; clear: none; width: 50%; height: 100%;">
    Welcome to Ember Right Menu component
</h2>
{{ember-right-menu title='test' menus=this.model.menus}}
<div style="position: relative; float: left; clear: left; width: 50%; height: 100%;">
    {{outlet}}
</div>